{% extends "layout.html" %}
{% block content %}
<div class="col-xs-6">
    {% from "_macros.html"  import render_firld%}
    <form action="" method="post" novalidate>
        <!--enviamos el token -->
        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">


        <div class="row control-group">
            <div class="form.group">
                {{render_firld(form.matricula, class="form-control")}}
            </div>
        </div>

        {{ render_firld(form.nombre)}}
        {{ render_firld(form.apaterno)}}
        {{ render_firld(form.email)}}

        <input type="submit" name="al" id="al" value="Registrar">
    </form>
</div>

<div class="col-md-4">
   <h1>Matricula:{{datos[0]}}</h1>
    <h1>Nombre:{{datos[1]}}</h1>
    <h1></h1>
</div>

{% endblock%}