{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div clas="row">
        <form class="form-horizontal" name="form1" action="/resultado" method="post">
            <div class="control-group">
                <label for="txtNum1" class="control-label">Number 1</label>
                <div class="control">
                    <input type="text" name="txtNum1" class="input-xlarge"
                    placeholder="num1" value="">
                </div>
            </div>

            <div class="control-group">
                <label for="txtNum2" class="control-label">Number 2</label>
                <div class="control">
                    <input type="text" name="txtNum1" class="input-xlarge"
                    placeholder="Number 2" value="">
                </div>
            </div>

            <div class="control-group">
                <div class="control">
                    <button type="submit" class="btn btn-default btn-primary">
                        <i class="icon-calculate icon-white"></i>S
                        Calcular
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}